<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/register.do"
            class="com.seaove.action.RegisterAction">
      </servlet>
      <servlet
            alias="/sencha.do"
            class="com.seaove.action.SenchaAction">
      </servlet>
      <servlet
            alias="/login.do"
            class="com.seaove.action.LoginAction">
      </servlet>
      <servlet
            alias="/bind.do"
            class="com.seaove.action.BindAction">
      </servlet>
      <servlet
            alias="/router.do"
            class="com.seaove.action.RouterAction">
      </servlet>
      <servlet
            alias="/ajax.do"
            class="com.seaove.action.AjaxAction">
      </servlet>
      <servlet
            alias="/session.do"
            class="com.seaove.action.SessionTrack">
      </servlet>
      <servlet
            alias="/qqlogin"
            class="com.seaove.qq.LoginAction">
      </servlet>
      <servlet
            alias="/qqcall"
            class="com.seaove.qq.CallAction">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/*.do"
            class="com.seaove.action.CharsetFilter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/jquery-1.11.1.min.js"
            base-name="/js/jquery-1.11.1.min.js">
      </resource>
      <resource
            alias="/register.css"
            base-name="/css/register.css">
      </resource>
      <resource
            alias="/fail.png"
            base-name="/img/fail.png">
      </resource>
      <resource
            alias="/register1.css"
            base-name="/css/register1.css">
      </resource>
   </extension>

</plugin>
